<p>Namespace:
    {{#if edit}}
        {{#if item.new}}
            <input tabindex="1" id="edit-namespace-value" value="{{item.namespace}}" placeholder="namespace" type="number">
        {{else}}
            {{item.namespace}}
        {{/if}}
        <button tabindex="-1" id="save-button-namespaces" class="pull-right btn btn-success" type="button">Save</button>
        <button tabindex="-1" id="cancel-button-namespaces" class="pull-right btn btn-danger" style="margin-right: 10px;" type="button">Cancel</button>
        <button tabindex="-1" id="close-button-namespaces" class="pull-right btn btn-warning" style="margin-right: 10px;" type="button">Close edition</button>
    {{else}}
        {{item.namespace}}
        <button tabindex="-1" id="edit-button-namespaces" class="pull-right btn btn-default" type="button">Edit</button>
    {{/if}}
</p>
<p>Email:
    {{#if edit}}
        <!--<input tabindex="2" id="edit-namespace-email" value="{{item.email}}" placeholder="email" type="text">-->
        <textarea tabindex="2" id="edit-namespace-email" class="form-control" rows="5">{{item.email}}</textarea>
    {{else}}
        {{item.email}}
    {{/if}}
</p>
<p>Organization Name:
    {{#if edit}}
        <!--<input tabindex="3" id="edit-namespace-organizationName" value="{{item.organizationName}}" placeholder="Organization Name" type="text">-->
        <textarea tabindex="3" id="edit-namespace-organizationName" class="form-control" rows="5">{{item.organizationName}}</textarea>
    {{else}}
        {{item.organizationName}}
        <button tabindex="-1" id="delete-button-namespaces" style="margin-bottom: 10px;" class="pull-right btn btn-default" type="button">Delete this namespace</button>
    {{/if}}
</p>
<br>
<div id="namespaces-permissions-configure"></div>
<div id="namespaces-group-permissions"></div>
<br>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="text-center" colspan="2">Partitions</th>
    </tr>
    <tr>
        <th>Partition</th>
        <th>Sequence</th>
    </tr>
    </thead>
    <tbody>
    {{#each item.partitions}}
        <tr>
            <td>{{partitionId}}</td>
            <td data-id="{{partitionId}}" data-value="{{sequence}}">{{sequence}}
                {{#if ../edit}}
                    <button tabindex="-1" class="btn btn-link glyphicon glyphicon-pencil pull-right editSequence" style="padding: 0px; text-decoration: inherit;" type="button"></button>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>