<ul class="list-group">
    <li class="list-group-item text-center">
        <h4 style="display: inline-block; margin: 0px;">Direct permissions for this {{type}}</h4>
        <span tabindex="-1" id="addPermission-{{typeId}}" class="btn btn-link glyphicon glyphicon-plus pull-right" style="text-decoration: inherit; padding: 0px;"></span>
        <!--{{#if edit}}-->
        <!--{{/if}}-->
    </li>
    {{#each permissions}}
        <li data-username="{{username}}" class="list-group-item">
            {{username}} ({{role}})
            <span tabindex="-1" class="btn btn-link glyphicon glyphicon-remove pull-right remove-permission" style="text-decoration: inherit; padding: 0px;"></span>
            <!--{{#if ../edit}}-->
            <!--{{/if}}-->
        </li>
    {{/each}}
</ul>