<ul class="list-group">
    <li class="list-group-item text-center">
        <h4 style="display: inline-block; margin: 0px;">Users allowed to operate this {{type}}</h4>
        {{#if edit}}
            <span id="addPermission-{{typeId}}" class="btn btn-link glyphicon glyphicon-plus pull-right" style="text-decoration: inherit; padding: 0px;"></span>
        {{/if}}
    </li>
    {{#each permissions}}
        <li data-username="{{username}}" class="list-group-item">
            {{username}} ({{role}})
            {{#if ../edit}}
                <span class="btn btn-link glyphicon glyphicon-remove pull-right remove-permission" style="text-decoration: inherit; padding: 0px;"></span>
            {{/if}}
        </li>
    {{/each}}
</ul>